code[class*="language-"],
pre[class*="language-"] {
  color: #cccccc;
  background: none;
  font-family: "JetBrains Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 18px;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #151718;
  border-radius: 5px;
  box-shadow: 12px 16px 20px rgb(0 0 0 / 12%);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 56px;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #2d68a2;
}

.token.function-name {
  color: #4c7daf;
}

.token.boolean,
.token.number,
.token.function {
  color: #afd3f1;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #e6cd69;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #a1a8c0;
}

.token.operator,
.token.entity,
.token.url {
  color: #b3a4d5;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #57abfa;
}
